.full{
    padding: 10%;
}
.work-container{
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: lightcyan;
    margin-bottom: 5%;
    padding: 2%;
}

.card1{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    background-color: beige;
    width: 100%;
    padding: 2%;
    border-radius: 10px;
}
.card2{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 20px;
    margin-right: 20px;
    background-color:lightcyan;
    width: 100%;
    padding: 2%;
    border-radius: 10px;
}


img{
    border: solid;
    border-radius: 20px;
    border-width: 5px;
    border: transparent;
    border-color: rgb(0, 205, 212);
}
img:hover{
    box-shadow: 0px 3px 10px 3px #102029;
}
.left{
    color: white;
    font-size: 40px;
    margin-left: 1%;
}

.right{
    display: flex;
    flex-direction: row-reverse;
    color: lightgray;
    font-size: 40px;
    margin-right: 12%;
}


p{
    color: white;
    font-size: large;
    margin: 2%;
    font-size: 1.5rem;
}