* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Baloo 2', cursive;
}
header {
display: flex;
justify-content: space-between;
background: #33688d;
padding:20px;
margin: 0;

}
.title{
color: #d9e1e8;
font-size: 24px;
font-weight: bolder;
text-decoration: none;
}
.routes:hover{
    color: rgb(235, 171, 171);
}
.title:hover{
    color: rgb(235, 171, 171);
}
.routes{
text-decoration: none;
padding-right: 20px;
padding-left: 20px;
color: #d9e1e8;
font-size: large;
font-weight: bolder;
}

  

