
  
  header {
    display: flex;
    justify-content: space-between;
    background: #33688d;
    padding-left: 2%;
    color: #d9e1e8;
  }
  nav{
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;

  }
  nav h3{
    padding-right: 15px;
  }
  

  

  

