.full{
    padding: 5%;
}
.header1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #33688d;
    font-size: 36px;
    text-shadow: 3px 3px #102029;
}
.resume-container{
    background-color:  #33688d;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
    box-shadow: 0px 3px 10px 3px #102029;
}
.profile{
    flex: 45%;
    margin-left: 2%;
}
.profile h2{
    padding: 5px;
    background-color: lightblue;
    border: solid gray;
    border-radius: 5px;
    border-width: 2px;
    width: fit-content;
}
.experience{
    flex: 50%;
    margin-left: 2%;
}
.experience h2{
    padding: 5px;
    background-color: lightblue;
    border: solid gray;
    border-radius: 5px;
    border-width: 2px;
    width: fit-content;
}

.experience li{
    padding-left: 2%;
    font-size: 18px;
}
.apps{
    flex: 33%;
    margin-left: 2%;
}
.apps h2{
    padding: 5px;
    background-color: lightblue;
    border: solid gray;
    border-radius: 5px;
    border-width: 2px;
    width: fit-content;
}
.apps li{
    padding-left: 2%;
    font-size: 20px;
}
.skills{
    flex: 50%;
    margin-left: 14%;
}

.skills li{
    padding-left: 2%;
    font-size: 20px;
}
.coding-experience{
    flex: 40%;
    margin-left: 2%;
}
.coding-experience li{
    padding-left: 2%;
    font-size: 20px;
}
.ed{
    flex: 45%;
    margin-left: 2%;
}

h2{
    padding: 5px;
    background-color: lightblue;
    border: solid gray;
    border-radius: 5px;
    border-width: 2px;
    width: fit-content;
}
.badge{
    padding: 2%;
}


p{
    color: black;
    font-size: 20px;
}
.download{
    flex: 45%;
    margin-left: 6%;
    margin-top: 2%;
}
.pdf{
    background-color: red;
    text-decoration: none;
    color: aliceblue;
    width: 150px;
    height: 75px;
    box-shadow: 0px 3px 10px 3px #102029;
}
.pdf:hover{
    background-color: #102029;
}