footer{
display: flex;
flex-direction: column;
padding-left: 2% ;
padding-bottom: 1%;
padding-top: 1%;
position:fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: black;
opacity: 70%;
color: grey;
text-align: start;
box-shadow: 0px 3px 10px 3px #102029;
height: 10%;
}
.contact{
display: flex;
flex-direction: column ;
flex-wrap: wrap;
}

main{
display: flex;
flex-direction: row;
justify-content: space-between;

}
.creds{
justify-content: space-between;

}


@media screen and (max-width: 500px) {
   footer {
      width: 100%;
      flex-direction: row;
      height: 15%;
    }

    
  }